// Colors
$primary-color: #4b2e5d;
$light-black: #333;
$light-gray: #555;
$lighter-gray: #c0c0c0;
$border-color: #e8e8e8;
$off-white: #f8f8f8;
$link-color: #039be5;
$transparent-blue: #225470;
$orange: #ffa500;
$success-text: #4caf50;
$error-text: #F44336;

//font types
$krub: 'Krub', sans-serif;
$raleway: 'Raleway', sans-serif;
$dosis: 'Dosis', sans-serif;
$quicksand: 'Quicksand', sans-serif;

// Sizes
$sm-size: 1rem;
$md-size: 1.5rem;
$lg-size: 3rem;
$xl-size: 3.5rem;
$xxl-size: 4rem;
$xxxl-size: 6rem;

// Breakpoints
$lg-breakpoint: 960px;
$md-breakpoint: 768px;