.application-form {
    background-color: #fff;
    font-family: $quicksand;
    margin-top: $xxl-size !important;
    margin-bottom: $xxl-size !important;
    padding-bottom: $sm-size;

    .logo2 {
        height: 3rem;
        margin-bottom: $lg-size;
        margin-top: $sm-size;
    }

    .passport-section img {
        margin-top: $sm-size;
        width: 9.75rem;
        height: 9.75rem
    }

    h3 {
        font-size: $md-size;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
    }

    h4 {
        font-size: 1.3rem;
    }

    .form-section {
        border: 1px solid lighten($light-gray, 30%);
        border-radius: 5px;
        margin: $xl-size;
        padding-left: $md-size;
        padding-right: $md-size;

        label {
            color: $light-black;
            font-weight: bold;
            font-size: 0.9rem;
        }

        .text-content {
            font-weight: lighter !important;
        }
    }

    .button-section {
        margin-left: $xl-size;
        margin-bottom: $xl-size;

        button {
            background-color: $orange;
            color: $off-white;
            font-family: $quicksand;
        }
    
        button:hover {
            background-color: darken($orange, 5%);
        }
    }
}

@media (max-width: $md-breakpoint) {
    .application-form {
        background-color: transparent;
    }
    .head-section {
        display: flex;
        flex-direction: column;
    }

    .head-section .passport-section {
        margin-left: 27% !important;
    }

    .head-section .logo2 {
        margin-left: 18%;
    }
    .application-form {
        border: none;
    }

    .form-section {

        margin: 0 !important;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: $lg-size !important;
    }

    #printButton {
        display: none;
    }
}

@media print {
    header, footer, #printButton {
        display: none !important;
    }

    .application-form {
        border: none;
    }

    .application-form .form-section h4, h3, .label-content, .text-content {
        font-size: 12px !important;
    }

    .application-form h3, .form-section h4 {
        font-size: 14px !important;
        font-weight: bolder !important;
    }
    
    .head-section {
        display: flex !important;
        flex-direction: row;
        margin-top: -$xxl-size;
    }

    .passport-section img {
        margin-right: $lg-size;
    }

    .form-section {
        margin-bottom: $sm-size !important;
    }
}
