.find-student-form {
    font-family: $quicksand;
    
    .search-student-icon {
        font-size: $xxl-size;
    }

    background-color: $off-white;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important;
    margin: $lg-size auto;
    padding: $md-size $lg-size;
    width: 35%;

    .row {
        width: 100%;
    }

    input {
        width: 100%;
    }
}

@media (max-width: $md-breakpoint) {
    .find-student-form {
        padding-left: $xs-size;
        padding-right: $xs-size;
        margin: $md-size auto;
        width: 90%;
    }

    .icon-header {
        margin-top: 0 !important;
    }
}