#our-team {
    padding: $md-size 0;

    h3 {
        color: $light-gray;
        font-family: $raleway;
        margin: 0;
        text-align: center;
        margin-bottom: $md-size;
    }

    .card .card-content p {
        font-weight: 500;
    }
}